
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

@font-face {
   font-family: Bebas-Book;
   src: url(../../assets/fonts/bebasneue-book-webfont.woff);
}


/*disble arrow inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.container {
   box-shadow: 8px 8px 300px 25px rgba(142, 133, 133, 0.3);
   border-radius: 50%;
}

.timer__elipse1 {
   border-radius:50%;
   
   /*background-image: radial-gradient(circle, #626266, #17171A);*/
   min-height: 500px;
   min-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.timer {
   font-family: Bebas-Book;
   font-size: 11rem;
   color:whitesmoke;
   box-shadow: 12px rgba(88, 11, 11, 0.7);
}

.timer input {
   background-color: transparent;
   color: whitesmoke;
   border: none;
   width:10rem;
   font-family: Bebas-Book;
   font-size: 12rem; 
   text-align: center;
}

.timer input:focus {
   outline: none;
}

.startstop{
   background: transparent;
   font-family: 'Montserrat', sans-serif;
   color: whitesmoke;
   border: none;
   font-size:  1.3rem;
}

.modal-text{
   font-family: 'Monstserrat', sans-serif;
   color: rgba(88, 11, 11, 0.7);
   font-size: 1.3rem;
}

